  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .windowLogs {
    height: 100%;
    overflow: auto;
  }

  .windowLogs-filterInput {
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0px 0px 25px 0px;
  }

  .windowLogs-table {
    table-layout: auto;
    white-space: nowrap;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    width: 100%;
    font-size: 14px;
  }
  .windowLogs-table td,
  .windowLogs-table th {
    padding: 2px 7px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .windowLogs-table td {
    font-family: monospace;
  }
  .windowLogs-table th {
    position: sticky;
    top: 0px;
    background-color: var(--gray-100);
    padding: 10px 7px;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    color: var(--primary-color);
    font-weight: 500;
    letter-spacing: 0.9px;
    font-size: 16px;
  }
  .windowLogs-table th:first-child {
    border-top-left-radius: 5px;
    border-left: 1px solid var(--gray-200);
  }
  .windowLogs-table th:last-child {
    border-top-right-radius: 5px;
    border-right: 1px solid var(--gray-200);
  }
  .windowLogs-table tr.windowLogs-selectedRow td,
  .windowLogs-table tr:hover td {
    background-color: rgba(111, 161, 87, 0.15);
  }
  .windowLogs-table td {
    border-top: 1px solid var(--gray-100);
  }
  .windowLogs-table td:first-child {
    border-left: 1px solid var(--gray-200);
  }
  .windowLogs-table td:last-child {
    border-right: 1px solid var(--gray-200);
  }

  main {
    padding: 1em 1em;
    margin: 0 auto;
  }

  h1 {
    text-align: left;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 0px;
  }
  h1 small {
    text-transform: lowercase;
    font-size: 20px;
    letter-spacing: normal;
    font-weight: normal;
    color: var(--gray-600);
  }
  h1 small:not(:last-child)::after {
    content: '·';
    margin-left: 10px;
    margin-right: -5px;
  }

  .message {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px;
    border-color: var(--gray-600);
    color: var(--gray-600);
    background-color: var(--gray-100);
  }
  .message--info {
    text-align: center;
    border-color: #0c5460;
    color: #0c5460;
    background-color: #0c546022;
  }
